{
  "extends": ["react-app", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": false }
    ]
  }
}
